.destination{
    margin: 4rem  6rem;
}
.destination h1{
    font-size: 3rem;
}
.firstdes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.firstdesreverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.destext{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}
.destext h2{
    padding-bottom: 1rem;
}
.image{
    position: relative;
    width: 30%;
    height: 1%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}
.image img{
    width: 49%;
    height: 350px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: -1px 1px 62px -18px ;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.image img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}
.image:hover {
    z-index: none;
    transform: scale(1.3);
}

@media screen and (max-width:850px) {
    .destination{
        margin: 4rem 2rem;
    }
    .firstdes{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }

    .destext{
        width: 100%;
    }
    .image{
        width: 100%;
        margin: 1.8rem 0;
    }

    .image img{
        height: 250px;
    }
}