.footer{
    padding: 2px 2px 2px 2px ;
    background-color:green;
    color: white;
}
.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.top h1{
    font-size: 1.2rem;
}
.top a{
    color: white;
    font-size: 1.2rem;
    margin-left: 1rem;
}
.top a:hover{
    color: aquamarine;
}
.bottom{
    padding: 1rem;
    text-align: start;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.bottom div{
    display: flex;
    flex-direction: column;
}
.bottom h4{
    font-size: 1.2rem;
    padding: 1rem 0 0.4rem 0;
    
}

.bottom a{
    text-decoration: none;
    color: white;
    padding: 0.2rem;
     font-size: 1.1rem ;
}

@media screen and (max-width:850px) {
    .footer{
        padding: 4rem 2rem;
    }

    .footer a{
        padding: 1rem 1rem 0 0;
    }
    
    .bottom div{
        width: 50%;
    }
}