.trip{
    margin: 6rem 8rem;
    color: black;
}
.trip h1{
    font-size: 3rem;
}
.tcards p{
    font-size: 1rem;
    margin: 15px;
}

.tripcard{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

}
.tCard{
    width: 32%;
    text-align: start;
    box-shadow: 0.5rem 25rem 2px;
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem 0.8rem ;
}
.timg{
    margin: 20px ;
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
}
.timg img{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
}
.timg:hover img{
    transform: scale(1.3);
}
.tCard h4{
    font-size: 1.3rem;
    padding: 0.9rem 0 0.2rem 0;
}
.tCard h5{
    padding-left: 30px;
}
@media screen and (max-width:850px) {
    .trip{
        margin: 4rem 2rem ;
    }
    .tripcard{
        flex-direction: column;
    }
    .tCard{
        width: 100%;
        margin-bottom: 1.5rem;
    }
}
.cbtn{
    outline: none;
    border: none;
    margin-top: 100px;
    padding: 3px 20px ;
    border-radius: 6px;
    background: #1877f2;
    color: #fff;
     font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
}