.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
}  */

 /* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;

}
header{
  position:relative ;
  background-color:orangered;
  display: flex;
  justify-content: space-between;
  padding:  15px 20px;
  box-shadow: 0 80px 90px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 70px;
  border-radius: 3px;

}

.symbol{
  padding:0 15px;
  color:white;
  background: linear-gradient(orangered,white,green);
  font-size: 1rem;
  cursor: pointer;
}
a{
  padding: 1rem 1rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  white-space:nowrap;
}
.link{
  padding-right: 10px;
}
.link:hover{
background-color: #01959a;
color: #fff;
border-radius: 4px;
text-align: center;
padding-left: 25px;
transition: all 0.2s ease-in-out;
  /* border: 2px solid white;
  background-color:transparent;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  span{
    margin: 0;
    padding: 0;
    border: none;
  } */
}
/* .symbol:hover{
  background-color: transparent;
  border-radius: 30px;
  padding: 5px;


} */
#searchbar{
  position: relative;
  height: 30px;
  border: 1px solid;
  border-radius: 20px;
  margin: 10px 10px -1px -180px ;
}

#searchicon{
  position:relative;
  background: transparent;
  border: none;
  height: 30px;
  width: 30px;
  margin: 10px 10px 10px  -40px;
  font-weight: 500;
}

.registerlink{
  color: blue;
}
.login {
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #1877f2;
  color: #fff;
   font-weight: 600;
  font-size: 1.2rem;
  margin-top:20px ;
  text-align: center;
}

.login:hover{
  cursor: pointer;
}

fieldset{
  border: none;
}

.container{
  display: grid;
  justify-content: center;
  text-align: start;
  background-color: white;
  padding: 30px ;
  width: 400px;
  max-width: 540px;
  box-shadow: -1px 1px 62px -18px ;
  border: 2px solid transparent;
  border-radius: 30px;
  margin: 100px 100px 100px 600px;
}
.reg{
  color: blue;
  padding: 0;
}
.container h2{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color:black;
 
  

}
.icon{
  position: absolute;
  padding:1px;
  font-size: 1.4rem;
  margin: 13px 0 0px -20px;
}
input{
  border: 1 px solid white;
  border-radius: 15px;
  padding:10px;
  margin: 10px;
}
.textemail{
  border: 1 px solid white;
  border-radius: 15px;
  display: flex;
  width: 200px ;
  padding:10px;
  margin: 10px;
  white-space: nowrap;
}

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color:white;
}
.register{
  display: grid;
  justify-content: center;
  text-align: start;
  background-color:white;
  padding: 30px ;
  width: 600px;
  max-width: 540px;
  box-shadow: -1px 1px 62px -18px ;
  border: 2px solid transparent;
  border-radius: 30px;
  margin: 90px 90px 90px 590px;
}
.register h2{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px  ;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color:black;
}
#login{
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#login:hover{
  background-color: rgb(15, 15, 16);
  color: #fff;
}
@media screen and (max-width:850px){
 .link{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #01959a;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  align-items: stretch;
  padding: 50px 0 20px 0;
  margin: 0;
  z-index: -1;
 }
}
.homepage{
  width: 100%;
  height: 100vh;
  position: relative;
}
img{
  width: 100%;
  height: 80vh;
  /* object-fit: cover; */
}
.herotext{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.herotext h1{
  font-size: 5rem;
  font-weight: 800;
  background: linear-gradient(orangered,white,green );
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}
.herotext p{
  font-size: 2rem;
  margin: 15px;
  color: white;
  padding: 0.5rem 0.2rem 0;
}
.herotext .show{
margin: 10px;
text-decoration: none;
background: #fff;
padding: 0.5rem 2rem;
border-radius: 10px;
font-size: 1.1rem;
font-weight: 2px;
color: black;
}
@media screen and (max-width:555px) {
  .herotext h1{
    font-size: 2rem;
    padding: 10px 20px ;
  }
  .herotext p{
    font-size: 1.1rem;
    padding: 0 0 2rem 0;
  }
  .herotext .show{
    padding: 0.25rem 1.1rem;
    border-radius: 6px;
    font-size: 1rem;
    }
}
.aboutpage{
  width: 100%;
  height: 70vh;
  position: relative;
}
.aboutpage h1{
  padding-top: 4rem !important;
}
.aboutpar{
  margin: 100px;
  padding: 10px 10px 10px 10px ;
}
.aboutpar h2{
  margin-top: 30px;
}

.logout{
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.logout:hover{
  background-color: rgb(15, 15, 16);
  color: #fff;
}
.contact{
  margin: 100px
}
.contact-box h2{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 30px;
}
.contact-box form{
  max-width: 45em;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 2em ;
}
.contact-box form .input-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-box form .input-box input,
.contact-box form textarea{
  width: 70%;
  padding: 1em;
  font-size: 20px;
  color: black;
  border:black;
  border-radius: o.8rem;
  margin: 1rem 0;
  resize: none;
}